* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Fondo de pantalla con imagen */
    background: url('../imagenes/biblioo.png');
    background-size: cover;
}

.contenedor {
    background-color: rgba(255, 255, 255, 0.93); /* Blanco semitransparente */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 350px;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #5C6BC0;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3F51B5;
}

p {
    text-align: center;
    margin-top: 15px;
}

a {
    color: #5C6BC0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
